<nav>
    <div class="site-title">  
        <a href="/blogs">Home</a>
    </div>
    <ul>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/blogs/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>