<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>        
    <li><a href="/blogs/create">New Blog</a></li>
    </nav>
    <div class="blogs content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, culpa sed corporis in iure excepturi officia molestias nostrum dignissimos reiciendis id vero! Qui, molestiae. Quos, earum? Quod facere odio mollitia?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, culpa sed corporis in iure excepturi officia molestias nostrum dignissimos reiciendis id vero! Qui, molestiae. Quos, earum? Quod facere odio mollitia?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, culpa sed corporis in iure excepturi officia molestias nostrum dignissimos reiciendis id vero! Qui, molestiae. Quos, earum? Quod facere odio mollitia?</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>